@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-secondary: #33929d;
  --color-accent: #03373d ;
}

body{
  background-color: #eaeced;
}